<section id="about-section">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 place-items-center text-lg px-4 md:px-10 mt-10 mb-10">

        <div class="col-span-1 max-w-lg">
            <div>
                <p class="text-sm">Leia mais</p>
                <h2 class="text-xl md:text-2xl font-bold">Sobre nós</h2>
            </div>
            <p class="mt-6 text-sm">
                Bem-vindo ao InkVerse, onde a arte encontra a individualidade! Localizado em Sertãozinho - SP, nosso estúdio é dedicado a transformar suas ideias únicas em tatuagens e piercings incríveis que refletem seu estilo e sua história.
            </p>
            <p class="mt-6 text-sm">
                Nossa equipe talentosa de tatuadores e body piercers é apaixonada pelo que faz, com anos de experiência e um compromisso com a qualidade e a criatividade em cada trabalho. Venha nos visitar e dê o próximo passo para eternizar sua personalidade e estilo com a gente!
            </p>
        </div>


        <div class="justify-self-center md:justify-self-end">
            <img id="studio-img" class="w-full max-w-full md:max-w-md rounded-lg shadow-lg" 
                 src="/assets/imgs/about-studio.jpg" alt="About Studio">
        </div>
    </div>
</section>
