<section id="about-section">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 place-items-center text-lg px-4 md:px-10 mt-10 mb-10">

        <div class="col-span-1 max-w-lg">
            <div>
                <p class="text-sm">Learn more</p>
                <h2 class="text-xl md:text-2xl font-bold">About Us</h2>
            </div>
            <p class="mt-6 text-sm">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem eveniet, itaque quis facilis quisquam veniam expedita? Beatae, atque. Nostrum dolor quam quis debitis est recusandae molestiae facilis fugit voluptates laudantium.
            </p>
            <p class="mt-6 text-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eius incidunt harum, maiores eaque inventore sit, facere impedit a tenetur nam, quas iusto. Repellat, fugit suscipit aut dignissimos officiis recusandae!
            </p>
        </div>


        <div class="justify-self-center md:justify-self-end">
            <img id="studio-img" class="w-full max-w-full md:max-w-md rounded-lg shadow-lg" 
                 src="/assets/imgs/about-studio.jpg" alt="About Studio">
        </div>
    </div>
</section>
