<section>
    <menu>
        <nav style="background-color: #F78C2F;" class="">
            <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
                <a href="#" class="text-gray-800 dark:text-gray-200 border-b-2 border-purple-500 mx-1.5 sm:mx-6">home</a>
        
                <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">Sayuri</a>
        
                <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">Guaxi</a>
        
                <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">Rafa</a>
    
                <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">Sayuri</a>
        
                <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">Guaxi</a>
        
                <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">Rafa</a>
    
                <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">Sayuri</a>
        
                <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">Guaxi</a>
        
                <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">Rafa</a>
            </div>
        </nav>
    </menu>
    <header id="header">
        <div class="grid grid-rows-2 place-items-center gap-8">
            <img class="size-40" src="/assets/imgs/logo.png" alt="logo">
            <div>
                <h1>InkVerse</h1>
                <h2>Tattoo</h2>
                <button type="button" class=" hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900 px-4 py-2 my-8 bg-white hover:border-white " >Start</button>
            </div>
            <!-- 
            <img src="/assets/imgs/arrow.svg" class="animate-bounce size-7 mt-4" alt="">
            -->
    
        </div>
    </header>
</section>