<section>
    <app-menu></app-menu>
    <header id="header">
        <div class="grid grid-rows-2 place-items-center gap-8">
            <img class="size-40" src="/assets/imgs/logo.png" alt="logo">
            <div>
                <h1>InkVerse</h1>
                <h2>Tattoo</h2>
                <button type="button" class=" hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900 px-4 py-2 my-8 bg-white hover:border-white " >Start</button>
            </div>
            <!-- 
            <img src="/assets/imgs/arrow.svg" class="animate-bounce size-7 mt-4" alt="">
            -->
    
        </div>
    </header>
</section>