<section class="bg-gray-100">
    <div  style="background-color: white;" class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8 mt-10 mb-10  rounded-lg shadow-lg">
        <div class="max-w-2xl lg:max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold text-black">Nos faça uma visita</h2>
            <p class="mt-4 text-lg text-gray-500">🎨✨ Venha transformar suas ideias em arte na pele! ✨🎨</p>
        </div>
        <div class="mt-16 lg:mt-20">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="rounded-lg overflow-hidden">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1860.6608158158267!2d-47.98752530079571!3d-21.13959483399465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b9995856351173%3A0xf3f83587ecbb54da!2sInkVerse%20Tattoo!5e0!3m2!1spt-BR!2sbr!4v1733778472352!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div>
                    <div class="max-w-full mx-auto rounded-lg overflow-hidden">
                        <div class="px-6 py-4">
                            <h3 class="text-lg font-medium text-black">Endereço</h3>
                            <p class="mt-1 text-gray-500">R. Sebastião Sampaio, 1602 - Centro, Sertãozinho - SP, 14160-600</p>
                        </div>
                        <div class="border-t border-gray-200 px-6 py-4">
                            <h3 class="text-lg font-medium text-black">Horários</h3>
                            <p class="mt-1 text-gray-500">Segunda - Sábado: 12:00 - 22:00</p>
                            <p class="mt-1 text-gray-500">Domingo: Fechado</p>
                        </div>
                        <!--
                        <div class="border-t border-gray-200 px-6 py-4">
                            <h3 class="text-lg font-medium text-black">Contact</h3>
                            <p class="mt-1 text-gray-500">Email: infoexample.com</p>
                            <p class="mt-1 text-gray-500">Phone: +1 23494 34993</p>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>