<section id="artistas">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 ml-4 md:ml-10 mt-10 mb-10">
        <!-- Define o número de colunas para cada resolução -->
        @for (artista of artistas; track $index) {
        <div id="card" style="background-color: #545454;" 
             class="cursor-pointer group relative flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg hover:shadow-lg transition-shadow duration-300 text-center hover:animate-wiggle hover:animate-infinite hover:animate-duration-1000 hover:animate-delay-300">
            <div class="relative h-56 m-2.5 overflow-hidden text-white rounded-md">
                <img  class="transition-transform duration-500 ease-[cubic-bezier(0.25, 1, 0.5, 1)] transform group-hover:scale-110" 
                     [src]="artista.img" alt="investment-seed-round" />
                     <a [routerLink]="['/artist', artista.id]"><button routerLinkActive="router-link-active"  style="position: absolute; bottom: 10px; right: 10px; z-index: 2;" 
                        class="rounded-md bg-white py-2 px-4 border border-transparent text-center text-sm text-black transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 hover:text-white active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" 
                        type="button">
                    Gallery
                </button></a>
            </div>
            <div class="my-4 mx-6 border-t border-white"></div>
            <div class="p-4">
                <h6 class="mb-0 text-white text-xl font-semibold">
                    {{artista.nome}}
                </h6>
                <p class="text-xs text-white leading-normal font-light">
                    {{artista.cargo}}
                </p>
            </div>
        </div> 
        }
    </div>
</section>
