#card{
    width: 15rem;
}

@media (max-width: 390px){
    #card{
        width: 15rem;
    }
}

#artistas{
    height: auto;
    background-color: #B591D6;
    color: white;

    background: url("/assets/imgs/fundo-artistas.png");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#artistas:hover{
    
}

