section {
    background-image: url("https://m.media-amazon.com/images/S/pv-target-images/543fce1906fb5f602dbeafe171864f28d7f3955bfbb38794bd6a67c0dc1cbca9.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    height: 15rem;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    opacity: 0.8; 
}
