<section>

        <menu>
            <nav style="background-color: #F78C2F;" class="">
                <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
                    <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">home</a>
                    @for (artista of artistas; track $index) {
                    <a href="/artist/{{artista.id}}" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-purple-500 mx-1.5 sm:mx-6">{{artista.nome}}</a>
                }
                </div>
            </nav>
        </menu>

</section>